<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
<script src="/public/js/fneUtils.js"></script>
<div class="container mt-4">
    <h2><%=name%> Peers</h2>
    <h4>Peer Count: <%=peers.length%></h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Connected</th>
            <th>Connection State</th>
            <th>Peer ID</th>
            <th>Identity</th>
            <th>Address</th>
            <th>Rx Frequency</th>
            <th>Tx Frequency</th>
            <th>Software</th>
        </tr>
        </thead>
        <tbody>
        <%  peers.forEach(peer => {
            let trClass = '';

            if (!peer.config){
                console.warn("Skipped peer with no config info: ", peer.peerId);
                return;
            }

            if (peer.connectionState.toString() !== '4') {
                trClass = 'table-warning';
            }
        %>
            <tr class="<%= trClass %>">
                <td><%= peer.connected ? 'Yes' : 'No' %></td>
                <td data-connState="<%= peer.connectionState %>"></td>
                <td><%= peer.peerId %></td>
                <td><%= peer.config.identity %></td>
                <td><%= peer.address %></td>
                <td data-frequency="<%= peer.config.rxFrequency %>"></td>
                <td data-frequency="<%= peer.config.txFrequency %>"></td>
                <td><%= peer.config.software %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</body>
</html>