<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="/public/css/routing.css">

<%- include('partials/head.ejs') %>
</head>
<body>

<script>
    const groups = <%- JSON.stringify(rules) %>;
</script>

<div class="container mt-5">
    <h1><%=name%> DVMFNE Manager</h1>
    <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#addTalkGroupModal">
        Add Talk Group
    </button>

    <div class="modal fade" id="addTalkGroupModal" tabindex="-1" role="dialog" aria-labelledby="addTalkGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTalkGroupModalLabel">Add New Talk Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Network Name:</label>
                        <select class="form-control" id="newTgNetworkName">

                            <% rules.forEach(function(group, index) { %>

                                <option value="<%= index %>"><%= group.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" id="newTgName" />
                    </div>
                    <div class="form-group">
                        <label>Active:</label>
                        <select class="form-control" id="newTgActive">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Affiliated:</label>
                        <select class="form-control" id="newTgAffiliated">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Routable:</label>
                        <select class="form-control" id="newTgRoutable">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Source TGID:</label>
                        <input type="number" class="form-control" id="newTgSourceTgid" />
                    </div>
                    <div class="form-group">
                        <label>Source Slot:</label>
                        <input type="number" class="form-control" id="newTgSourceSlot" />
                    </div>
                    <div class="form-group">
                        <label>Destination Network:</label>
                        <input type="text" class="form-control" id="newTgDestNetwork" />
                    </div>
                    <div class="form-group">
                        <label>Destination TGID:</label>
                        <input type="number" class="form-control" id="newTgDestTgid" />
                    </div>
                    <div class="form-group">
                        <label>Destination Slot:</label>
                        <input type="number" class="form-control" id="newTgDestSlot" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addNewTalkGroup()">Add Talk Group</button>
                </div>
            </div>
        </div>
    </div>
    <% rules.forEach(function(group, index) { %>
        <div class="group mb-3 p-3 border rounded bg-light" data-group-index="<%= index %>">
            <div class="form-group">
                <label>Group Name:</label>
                <input type="text" class="form-control group-name" value="<%= group.name %>" data-group-index="<%= index %>" />
            </div>
        <label>Group Hang Time:</label>
        <input type="number" value="<%= group.groupHangTime %>" data-group-index="<%= index %>" class="group-hang-time" /><br/>
        <label>Master:</label>
        <select data-group-index="<%= index %>" class="group-master">
            <option value="true" <%= group.master ? 'selected' : '' %>>True</option>
            <option value="false" <%= !group.master ? 'selected' : '' %>>False</option>
        </select><br/>
        <label>Send TGID:</label>
        <select data-group-index="<%= index %>" class="group-send-tgid">
            <option value="true" <%= group.sendTgid ? 'selected' : '' %>>True</option>
            <option value="false" <%= !group.sendTgid ? 'selected' : '' %>>False</option>
        </select><br/>

            <div class="voice-groups">
                <% group.groupVoice.forEach(function(voiceGroup, vIndex) { %>
                    <div class="voice-group p-3 rounded" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>">
                        <h5 class="voice-group-header">Talk Group <%= vIndex + 1 %></h5>
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control voice-group-name" value="<%= voiceGroup.name %>" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>" />
                        </div>

                        <div class="form-group">
                            <label>Active:</label>
                            <select class="form-control voice-group-active" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>">
                                <option value="true" <%= voiceGroup.config.active ? 'selected' : '' %>>True</option>
                                <option value="false" <%= !voiceGroup.config.active ? 'selected' : '' %>>False</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Affiliated:</label>
                            <select class="form-control voice-group-affiliated" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>">
                                <option value="true" <%= voiceGroup.config.affiliated ? 'selected' : '' %>>True</option>
                                <option value="false" <%= !voiceGroup.config.affiliated ? 'selected' : '' %>>False</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Routable:</label>
                            <select class="form-control voice-group-routable" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>">
                                <option value="true" <%= voiceGroup.config.routable ? 'selected' : '' %>>True</option>
                                <option value="false" <%= !voiceGroup.config.routable ? 'selected' : '' %>>False</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Ignored:</label>
                            <% voiceGroup.config.ignored.forEach(function(ignoredId, igIndex) { %>
                                <input type="number" class="form-control voice-group-ignored mb-2" value="<%= ignoredId %>"
                                       data-group-index="<%= index %>" data-voice-index="<%= vIndex %>" data-ignored-index="<%= igIndex %>" />
                            <% }); %>
                        </div>

                        <div class="form-group">
                            <label>Source TGID:</label>
                            <input type="number" class="form-control voice-group-source-tgid" value="<%= voiceGroup.source.tgid %>" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>" />
                        </div>

                        <div class="form-group">
                            <label>Source Slot:</label>
                            <input type="number" class="form-control voice-group-source-slot" value="<%= voiceGroup.source.slot %>" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>" />
                        </div>

                        <% voiceGroup.destination.forEach(function(destination, dIndex) { %>
                            <div class="destination-group">
                                <div class="form-group">
                                    <label>Destination Network:</label>
                                    <input type="text" class="form-control voice-group-destination-network" value="<%= destination.network %>" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>" data-destination-index="<%= dIndex %>" />
                                </div>
                                <div class="form-group">
                                    <label>Destination TGID:</label>
                                    <input type="number" class="form-control voice-group-destination-tgid" value="<%= destination.tgid %>" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>" data-destination-index="<%= dIndex %>" />
                                </div>
                                <div class="form-group">
                                    <label>Destination Slot:</label>
                                    <input type="number" class="form-control voice-group-destination-slot" value="<%= destination.slot %>" data-group-index="<%= index %>" data-voice-index="<%= vIndex %>" data-destination-index="<%= dIndex %>" />
                                </div>
                            </div>
                        <% }); %>
                        <button type="button" class="btn btn-danger" onclick="deleteTalkGroup(<%= index %>, <%= vIndex %>)">Delete</button>
                    </div>
                <% }); %>
            </div>
        </div>
    <% }); %>
    <button class="btn btn-primary" onclick="saveChanges()">Save Changes</button>
</div>

<script src="/public/js/routingRuleUtils.js" type="application/javascript"></script>

</body>
</html>
